<div class="mt-4">
    <form method="post"> 
        <div class="mb-3">
            <label for="search-input" class="form-label">Query</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter query">
            <select name="gender" class="form-control mt-3" id="gender-input">
                <option value="">-- Select gender --</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>